/**************************************
***** Typography
***************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	color: $white;
	font-size: 1.6rem;
}

.heading-second {
	font-weight: 300;
}
