.form {
	background-color: $white;
	box-shadow: 0 15px 38px rgba(76, 81, 104, 0.548);
	color: $black;
	padding: 4.5rem 4rem;
	border-radius: 0.8rem;
	width: 50rem;
	text-align: center;

	&__content {
		margin-bottom: 3rem;
	}
}
