@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/**************************************
***** Colors
***************************************/
/**************************************
***** Typography
***************************************/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  color: #fff; }

.heading-second {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  color: #3d4652; }
  .heading-second:after {
    display: block;
    content: '';
    height: 0.14rem;
    width: 3rem;
    margin: 0 auto;
    background-color: #0066ff;
    margin-top: 0.5rem; }

/**************************************
***** BUTTONS
***************************************/
/**************************************
***** Icons
***************************************/
/**************************************
***** BASE
***************************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-image: url("../img/background/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  background-color: #fff;
  box-shadow: 0 15px 38px rgba(76, 81, 104, 0.548);
  padding: 4rem 3.5rem;
  border-radius: 0.8rem;
  width: 30rem;
  text-align: center; }
  .form__fields {
    margin-bottom: 2rem; }
